.input_item {
    width: 80%;
    height: 7vh;
    background-color: lightgray;
    border: none;
    display: block;
}

.button {
    margin-top: 7px;
    padding: 5px 20px;
    background-color: green;
    color: white;
    border: none;
}