.post__title {
    margin: 20px 0px 10px 0px;
    font-size: 24px;
}

.post__input input {
    width: 100%;
    height: 7vh;
    background-color: lightgray;
    border: none;
}

.post__button {
    text-align: right;
}

.post__button button {
    margin-top: 7px;
    padding: 5px 20px;
    background-color: green;
    color: white;
    border: none;
}


