.block {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.dialogs {
    background-color: antiquewhite;
    padding-top: 20px;
    padding-left: 10px;
}

.title {
    font-size: 24px;
}

.block__item p {
    padding-left: 30px;
    padding-bottom: 16px;

}

.block__item li {
    padding-bottom: 10px;
    list-style-type: none;
}

.a {
    margin: 0;
    color: black;
}

.flex {
    display: flex;
}

.flex img {
    width: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
}