
.main__img img {
    width: 100%;
    height: 20vh;
}

.main__row__img img {
    height: 11vh;
    margin-right: 30px;
}

.main__row {
    display: flex;
    font-size: 24px;
    margin-top: 10px;
}

