.main__links {
    font-size: 24px;
}

.main__links p {
    padding-bottom: 5px;

}

.body__main__links {
    height: 100vh;
    background-color: green;
}

.main__links a {
    color: white;
    padding-left: 20px;
}

.active {
    color: gold;
}